@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@layer base {
  h1 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h2 {
    @apply text-xl md:text-2xl font-semibold;
  }
  p {
    @apply text-sm;
  }
}
@layer components {
  .px-setting {
    @apply px-6 md:px-16 xl:px-32;
  }
  .primary {
    @apply bg-green-900;
  }
  .secondary {
    @apply bg-black;
  }
  .text_gradient {
    @apply text-transparent bg-gradient-to-br from-blueColors to-pinkColors bg-clip-text;
  }
}
